#base{
    display: grid;
    place-items: center;
    height: 100vh;
}

#corpo{
    height: 700px;
    width: 500px;
    background-color: black;

    border-radius: 15px;
}

#display{
    background-color: white;
    width: 450px;
    height: 150px;

    margin: 15px;
    border-radius: 15px;
}

.flex{
    display: flex;
}

.bloco{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 15px;
    border-radius: 15px;

    text-align: center;
}